<div class="navbar">
    <a href="#">
        <!-- <i class="fas fa-fire"></i> -->
        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/flvisirw.json"
    trigger="hover"
    colors="primary:#646e78,secondary:#4bb3fd,tertiary:#ebe6ef"
    style="width:26px;height:26px">
</lord-icon>
        Chat
    </a>
    <a href="#">
        <i class="fas fa-pen"></i>
        Scheme
    </a>
    <a href="/">
        <!-- <i class="fas fa-home"></i> -->
        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/hjbsbdhw.json"
    trigger="hover"
    colors="primary:#3a3347,secondary:#f24c00,tertiary:#b26836,quaternary:#ebe6ef"
    style="width:26px;height:26px">
</lord-icon>
        Home
    </a>
    <a href="/schedule">
        <!-- <i class="fas fa-envelope"></i> -->
        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/dxoycpzg.json"
    trigger="morph"
    colors="primary:#f24c00,secondary:#646e78,tertiary:#4bb3fd,quaternary:#ebe6ef,quinary:#f9c9c0"
    style="width:26px;height:26px">
</lord-icon>
        Schedule
    </a>
    <a href="/leaderboard">
        <!-- <i class="fas fa-video"></i> -->
        <style>
            .lord-icon {
                width: 26px;
                height: 26px;
            }
        </style>
        
        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
        <lord-icon
            class="lord-icon"
            src="https://cdn.lordicon.com/jeikhfcr.json"
            trigger="hover"
            colors="primary:#ffc738,secondary:#ebe6ef,tertiary:#f24c00,quaternary:#b26836">
        </lord-icon>
        
        Leaderboard
    </a>
</div>
