{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div id="message-box" class="col-md-8">
        {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    <h1>Welcome, {{user.username}}</h1>
</div>
{% endblock %}